<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>20404282117-ddi4v771in72i0ihfk0uag1o3t7irsvv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.20404282117-ddi4v771in72i0ihfk0uag1o3t7irsvv</string>
	<key>API_KEY</key>
	<string>AIzaSyBPlUs9QIu89yUNqC7v8HachncQIxXuexs</string>
	<key>GCM_SENDER_ID</key>
	<string>20404282117</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.barlab.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>barlab-66741</string>
	<key>STORAGE_BUCKET</key>
	<string>barlab-66741.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:20404282117:ios:48e4f884f9712324e8cd6c</string>
</dict>
</plist>